@media(max-width: 1280px) {
  .info__image img {
    width: 500px;
  }
}
@media(max-width: 1024px) {
  .header__bottom {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 40%;
    /* opacity: 0.9; */
    background-color: rgba(240, 240, 240, 0.9);
    height: 90vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
  }
  .header__bottom--active {
    visibility: visible;
    transform: none;
  }
  .nav {
    padding: 20px 20px;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__bottom-container {

    justify-content: flex-start;
    /* align-items: flex-start; */
  }
  .hero__image {
    display: none;
  }
  .hero__content {
    flex-direction: column;
  }
  .benefit__item {
    grid-column: 6 span;
  }
  .product {
  grid-column: 6 span;
  padding-top: 40px;
  padding-bottom: 40px;

}
@media(max-width: 768px) {
   .form__btn {
    width: 150px;
    padding: 5px 5px;
  }
  .footer__column {
  grid-column: 6 span;
}
 .footer__column--big {
  grid-column: 12 span;
}
 .form__input {
  width: 204px;
  height: 56px;
  padding-left: 0px;
  padding-right: 0px;
 }
  .about {
    flex-direction: column;
  }
  .about__info {
  width: 100%;
}
 .about__image {
  /* flex-srink: 0; */
  width: 100%;
}
  .about__content {
  max-width: 536px;
  width: 100%;
  height: 300px;
  padding: 5px;
  padding-right: 70px;

  .form__btn {
    width: auto;
  }
  .form__input {
  width: 254px;
  height: 56px;
  padding-left: 5px;
  padding-right: 5px;
  }
  .news-letter__title {
    font-size: 20px;
  }
  .news-letter__content {
  padding: 18px 5px;
  margin: 0;
  text-align: left;
  align-items: flex-start;
}
  .news-letter__descr {
  padding: 48px 5px;
  margin: 0;
  text-align: left;
  align-items: flex-start;
}
  .news-letter {
    padding: 0;
  }
  .product {
    width: 300px;
    flex-srink: 0;
  }
  .benefit__item {
  grid-column: 12 span;
  padding-top: 10px;
  }
  .product {
  grid-column: 12 span;
  padding-top: 10px;
  padding-bottom: 10px;


  .hero .container {
  padding: 0;
 }
  .btn {
  width: 100%;
 }
}
 .product__image {
  width: 100%;
 }
 .footer__column {
  grid-column: 6 span;
 }
 .about {
  flex-direction: column;
}
 .about__image {
  /* flex-srink: 0; */
  width: 100%;
}
 .info__content{
  padding-top: 30px;
  flex-direction: column;
  gap: 35px;
}
 .cart__content {
  padding: 20px;
 }
 .cart__col--quantity {
  grid-column: 2 span;
  padding-left: 5px;
}
}
