@media(max-width: 1280px) {
  .info__image img {
    width: 500px;
  }
}
@media(max-width: 1024px) {
  .header__bottom {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 40%;
    /* opacity: 0.9; */
    background-color: rgba(240, 240, 240, 0.9);
    height: 90vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
  }
  .header__bottom--active {
    visibility: visible;
    transform: none;
  }
  .nav {
    padding: 20px 20px;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__bottom-container {

    justify-content: flex-start;
    /* align-items: flex-start; */
  }
  .hero__image {
    display: none;
  }
  .hero__content {
    flex-direction: column;
  }
  .benefit__item {
    grid-column: 6 span;
  }
  .product {
  grid-column: 6 span;
  padding-top: 40px;
  padding-bottom: 40px;

}
 .product__image {
  width: 100%;
 }
 .footer__column {
  grid-column: 6 span;
 }
 .about {
  flex-direction: column;
}
 .about__image {
  /* flex-srink: 0; */
  width: 100%;
}
 .info__content{
  padding-top: 30px;
  flex-direction: column;
  gap: 35px;
}
 .cart__content {
  padding: 20px;
 }
 .cart__col--quantity {
  grid-column: 2 span;
  padding-left: 5px;
}
}
